<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekt</title>
</head>
<body>
{% extends 'quotes/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Dodaj nowy cytat</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Zapisz w bazie danych</button>
                        <a href="{% url 'random_quote' %}" class="btn btn-outline-secondary">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% end block %}
</body>
</html>