<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my app django</title>
    {% load static %}
    <Link rel="stylesheet" href="{% static 'frontend_demo1/style.css' %}">
</head>
<body>
<header>
    <h1>witamy w app django!</h1>
    <nav>
        <a href="#">page title</a>
        <a href="#">o nas</a>
        <a href="#">kontakt</a>
        </nav>
</header>
<main>
    <h2>title frontend</h2>
    <p>this is page with html and css in django</p>
</main>

<footer>
    <p>&copy; 2025 Autor: Martyna Nieczaj</p>
</footer>
</body>
</html>